{% include 'package.tmpl' with context %}

enum {{data.name}}
{
    {%- for literal in data.literals %}
        {% filter upper %}
        {{ literal.name }}{% if not loop.last %},{% endif %}
        {% endfilter %}
    {%- endfor %}
    {% include 'operations.tmpl' with context %}
}