{% include 'package.tmpl' with context %}

public interface {{data.name}}{% if data.inherits_from|length %} extends {{data.inherits_from[0].name}}{% endif %} {
{% include 'operations.tmpl' with context %}
{% include 'members.tmpl' with context %}
}